/* CSS declarations go here */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

#renderer {
    position: fixed;
    z-index: 100;
    width: 300px;
    background: red;
    height: 300px;
}


.ObjectViewer {
    width: 300px;
    background: red;
    height: 300px;
}


.App {
    text-align: center;
    width: 100%;
    height: 100%;
}

.App-logo {
    height: 30px;
    margin-top: 15px;
    float: left;
}

.App-header {
    background-color: #222;
    height: 60px;
    padding: 0 50px 0 20px;
    border-bottom: 1px solid #555;
    box-sizing: border-box;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.App-spacer {
    width: 100%;
    height: 100px;
}

.App-location {
    height: 60px;
    display: inline-block;
    float: left;
    padding: 17px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: Roboto-Light, sans-serif;
    color: cornflowerblue;
    margin-left: 10px;
}

.nav {
    float: left;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding: 18px 20px 22px 20px;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav:hover {
    background: rgba(255, 255, 255, 0.03);
}

.SideBar-Container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    transition: all ease .5s;
    width: 100%;
    height: 100%;
}

.show {
    display: block;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
}

.SideBar {
    width: 300px;
    background: white;
    height: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, .5);
    padding: 100px 0 100px 0;
    box-sizing: border-box;
    float: left;
    position: fixed;
    z-index: 998;
    animation-duration: .5s !important;
}

.SideBar-Clickable {
    width: 100%;
    height: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.5);
    animation-duration: .5s !important;
    transition: all ease 1s;
}

.SideBar-Item {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px 20px 50px;
    border-top: 1px solid #EEE;
    display: inline-block;
    font-family: Roboto-Light, sans-serif;
    color: #555;
    text-align: left;
    transition: all ease .3s;
    cursor: pointer;
    animation-duration: .5s !important;
}

.SideBar-Item:nth-child(1) {
    animation-delay: 0s;
}

.SideBar-Item:nth-child(2) {
    animation-delay: 0.07s
}

.SideBar-Item:nth-child(3) {
    animation-delay: 0.13s;
}

.SideBar-Item:nth-child(4) {
    animation-delay: .18s;
}

.SideBar-Item:nth-child(5) {
    animation-delay: .22s;
}

.SideBar-Item:nth-child(6) {
    animation-delay: .25s;
}

.SideBar-Item:nth-child(7) {
    animation-delay: .27s;
}

.SideBar-Item:hover {
    background: rgba(0, 0, 0, .03);
}

.SideBar-Item:active {
    background: rgba(0, 0, 0, .1);
}


.App-avatar {
    height: 60px;
    color: white;
    display: inline-block;
    float: right;
    cursor: pointer;
    transition: all ease .3s;
}


.hide {
    display: none;
}

.App-avatar:hover {
    background: rgba(255, 255, 255, .03);
}

.App-avatar-text {
    height: 60px;
    box-sizing: border-box;
    padding: 18px 18px 22px 18px;
    font-family: Roboto-Light, sans-serif;
    float: left;
    color: #AAA;
    display: inline-block;
    font-size: 16px;
}

.App-avatar-img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 18px;
    background: #EEE;
    float: right;
    overflow: hidden;
}

.avatar-img {
    height: 40px;
    width: 40px;
}

.App-menu {
    background-color: #FFF;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 997;
    top: 60px;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

.App-menu-item {
    height: 40px;
    font-size: 16px;
    color: #444;
    padding: 10px 30px 14px 30px;
    float: left;
    font-family: Roboto-Light, sans-serif;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all ease .2s;

    text-align: left;
}

.App-menu-item:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}

.MenuDropDown {
    position: fixed;
    z-index: 100;
    width: 200px;
    display: block;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all ease .3s;
    margin-left: -15px;
    margin-top: 11px;
    border-top: 1px solid #444;
}

.MenuDropDown-Item {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px 12px 15px;
    border-top: 1px solid #EEE;
    display: inline-block;
    font-family: Roboto-Light, sans-serif;
    color: #333;
    text-align: left;
    transition: all ease .3s;
    cursor: pointer;
    font-size: 14px;
}

.MenuDropDown-Item:hover {
    background: rgba(0, 0, 0, .05);
}

.MenuDropDown-Item:active {
    background: rgba(0, 0, 0, .1);
}

.MenuDropDown-Icons {
    opacity: .5;
    margin-left: 10px;
}

.App-menu-item:hover .MenuDropDown {
    visibility: visible;
    opacity: 1;
    margin-left: -30px;
}

.App-container {
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 100px;
    left: 0;
    position: absolute;
    transition: all ease .5s;
}

.App-container-push {
    left: 50px;
}

.App-editor-container {
    width: 100%;
    height: 500px;
    background: #EEE;
    overflow: hidden;
}

.App-terminal {
    width: 100%;
    height: calc(100vh - 605px);
    background: #000;
    border-top: 5px solid #444;
    overflow: hidden;
}

.compute-usage {
    float: right;
    background: #111;
    width: calc(30% - 5px);
    height: 100%;
    border-left: 5px solid #444;
    padding: 20px;
    box-sizing: border-box;
    color: #666;
    font-family: Roboto-Regular, sans-serif;
}

.App-terminal-controls {
    float: left;
    height: 100%;
    width: 40px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    background: #111;
    box-shadow: 0 0 50px rgba(255, 255, 255, .3);

}

.App-terminal-ctrl {
    float: top;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    color: rgba(255, 255, 255, .4);
}

.App-terminal-ctrl:hover {
    background: rgba(255, 255, 255, 0.05);
}

.App-editor-code {
    background-color: red;
    float: left;
    height: 100%;
    width: calc(60% - 45px);
    border-right: 5px solid #444;
    overflow: hidden;
    text-align: left;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

.App-editor-code-text {
    float: left;
    text-align: left !important;
    color: white !important;
    padding-left: 20px;
}

.App-editor-code-lines {
    width: 40px;
    float: left;
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    box-sizing: border-box;

    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

.App-editor-code-lines-num {
    width: 100%;
    height: 15px;
    font-size: 12px;
    color: rgba(255, 255, 255, .2);
}

.App-editor-view {
    background-color: #111;
    float: left;
    width: 40%;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.renderer {
    width: 100%;
    height: calc(100% - 100px);
    background: blue;
}

.container-titlebar, .container-titlebar-2 {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: Roboto-Light, sans-serif;
    padding: 10px 50px 10px 50px;
    background: #333;
    color: #EEE;
    height: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.container-titlebar-2 {
    background: rgba(255, 255, 255, 0.05);
    color: #AAA;
}

.container-titlebar-control {
    width: 30px;
    height: 30px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 8px;
    color: rgba(255,255,255,.4);
    float: right;
}


.container-title {
    padding: 8px;
    font-size: 14px;
    display: inline-block;
}

.fileDetailsButton {
    height: 30px;
    border-radius: 5px;
    background: rgba(255,255,255, 0.1);
    box-sizing: border-box;
    padding: 7px 22px 8px 22px;
    float: left;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.error {
    display: inline-block;
    font-size: 10px;
    color: rgba(255, 255, 255, .7);
    float: right;
    height: 30px;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 12px 8px 8px 8px;
}

.errorIndicator, .errorIndicator-Green {
    width: 8px;
    border-radius: 50%;
    height: 8px;
    background: red;
    opacity: .7;
    float: left;
}

.errorIndicator-Green {
    background: green;
}

.errorText {
    margin-left: 5px;
    float: left;
}


.compound-details {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    color: #999;
    padding: 18px;
    box-sizing: border-box;
    font-family: Roboto-Regular, sans-serif;
    font-size: 17px;
}

.App-terminal-container {
    width: calc(70% - 40px);
    padding: 0 30px 20px 50px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.App-editor-code-line-cont {
    width: 600px;
    height: 15px;
}

.App-editor-code-line:focus {
    background: rgba(255, 255, 255, .05);
}

.App-editor-code-line {
    width: 100%;
    height: 15px;
    outline: none;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0);
}

.App-terminal-input {
    width: 100%;
    color: #eee;
    height: 30px;
    position: absolute;
    bottom: 20px;
    text-align: left;
    font-family: Courier, sans-serif;
}

.prompt {
    float: left;
    margin-right: 5px;
}

.Blinker {
    float: left;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.viewer-controls {
    float: right;
    height: 500px;
    width: 40px;
    background: #222;
    box-sizing: border-box;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.viewer-control-spacer {
    width: 100%;
    height: 160px;
}

.viewer-ctrl {
    float: top;
    height: 40px;
    box-sizing: border-box;
    padding: 13px;
    width: 40px;
    color: rgba(255, 255, 255, .4);
    transition: all ease .3s;
    cursor: pointer;
}

.ctrlActive {
    color: cornflowerblue;
    opacity: .7;
}

.viewer-ctrl:hover {
    background: rgba(255, 255, 255, 0.05);
}

.viewer-ctrl:active {
    background: rgba(255, 255, 255, 0.1);
}

.layout-toggle {
    height: 35px;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
    border-radius: 5px;
    padding: 8px 20px 10px 20px;
    box-sizing: border-box;
    font-size: 15px;
    color: #AAA;
    background: rgba(255, 255, 255, .05);
    font-family: Roboto-Light, sans-serif;
    cursor: pointer;
}

.layout-toggle:hover {
    background: rgba(255, 255, 255, .1);
}

.projectBar {
    width: 220px;
    height: 100%;
    float: left;
    background: #FFF;
    border-right: 5px solid #333;
    box-sizing: border-box;
    padding: 30px;
    color: #333;
    font-family: Roboto-Light, sans-serif;
}

.project-folder-icon {
    float: left;
}


.project-folder {
    font-size: 14px;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.project-push {
    margin-left: 20px;
    font-size: 14px;
    margin-top: 2px;
}

